.gradle/
.idea/
local.properties
**/build/
*.iml
captures/
.externalNativeBuild/
.cxx/

.gradle/
.gradle-user/
.android-user/
.android-profile/
.android-sdk-home/
.kotlin/
.idea/
local.properties
*.iml
build/
**/build/
